@charset "UTF-8";
/* CSS Document */

.dropbtn {
	background-color: #f0ede6;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	width: 75px;
	height: 75px;
}

.dropbtn2 {
	background-color: #f1f1f1;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}


.dropdown {
	position: relative;
	display: inline-block;
	
}

.dropdown2 {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content2 {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}


.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.dropdown-content2 a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}




.dropdown-content a:hover {background-color: #ddd
}

.dropdown-content2 a:hover {background-color: #ddd}


.dropdown:hover .dropdown-content {
	display: block;	
	
	
}

.dropdown2:hover .dropdown-content2 {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #C9C9C9;
}

body, html {
	height: 100%;
}

.bg {
	height: 5%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
	color: white;
	
}


body {
	background-image: url(Images/gallery32.png);
	background-color: #f0ede6
}



@keyframes fadein {
	 from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.top-left {
	position: absolute;
	top: 8px;
	left: 16px;
	
}

.center {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
	font-family: Roboto;
	src:url(Fonts/Roboto-Thin.ttf);
}

.fadein2 {
	 -webkit-animation: fadein 9s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 9s; /* Firefox < 16 */
        -ms-animation: fadein 9s; /* Internet Explorer */
         -o-animation: fadein 9s; /* Opera < 12.1 */
            animation: fadein 9s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.mochi {
		font-size: 4vw;	
}



.mochi:hover {
        text-shadow: 4px 4px #ecaa0b;
		
}





/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 35%;
  padding: 11px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
	margin-left: 15%;
	padding-left: 15%;
	margin-right: 15%;
	padding-right: 0%;
	background-color: rgba(255,99,71,0.40);
	padding-top: 5%;
	border-radius: 10px;
	background-clip: padding-box;

	
}

.column:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	
}

.column2 {
	width: 40%;
	float: left;
	
}







